html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

body {
}

.header-inner {
  min-width: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.logo {
  margin-bottom: 35px;
}

.menu-list {
  display: flex;
  align-items: center;
  gap: 0 65px;
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 0 20px;
}

.user-actions-item-search {
  margin-left: 80px;
}
